@import "../Const.scss";

.agreement-page {

    .agreement-header {
        margin-bottom: 0;
    }

    .status-active {
        color: #00bd00;
    }

    .status-completed {
        color: #ff9b00;
    }

    .status-canceled {
        color: #f55;
    }

    > .buttons {

        > * {
            margin: $globalMargin;
        }

    }

}