@import "../Const.scss";
$font-path: '~react-widgets/lib/fonts';
$img-path: '~react-widgets/lib/img';
@import '~react-widgets/lib/scss/react-widgets';

.token-progress-bar {

    overflow: hidden;

    > .wrapper {

        height: 48px;
        position: relative;
        @extend .rw-widget-container;
        background: white;
        overflow: visible;
        margin-bottom: 36px;
        margin-top: 36px;
        margin-left: $globalMargin * 2;
        margin-right: $globalMargin * 2;
    
        > .bar-wrapper {
    
            height: 100%;
            overflow: hidden;
    
            .bar, .released-bar {
                position: absolute;
                background-color: #daff9f;
                height: 100%;
                z-index: 0;
            }
        
            .released-bar {
                z-index: 1;
                background-color: #ccc;
            }
        
            .data {
                padding-top: 0px;
                font-size: 15pt;
                position: absolute;
                height: 100%;
                width: 100%;
                z-index: 2;
                text-align: center;
            }
    
        }
    
        .date {
    
            position: absolute;
            left: 0;
            top: 100%;
            font-size: 14px;
            width: 170px;
            text-align: center;
            padding-top: 10px;
    
            &:before {
                content: "";
                position: absolute;
                width: 0;
                height: 0;
                left: calc(50% - 6px);
                border-left: 6px solid transparent;
                border-right: 6px solid transparent;
                border-bottom: 12px solid black;
                bottom: calc(100% - 12px);
            }
    
            &.start {
    
                // left: -100px;
                left: -6px;
                text-align: left;
    
                &:before {
                    // left: -6px;
                    left: 0;
                }
    
            }
    
            &.end {
    
                left: auto;
                right: -6px;
                // right: -100px;
                text-align: right;
    
                &:before {
                    left: auto;
                    right: 0;
                }
    
            }
    
            &.now {
    
                transform: translate(-50%);
    
                position: absolute;
                // text-align: left;
                left: auto;
                right: -100px;
                top: auto;
                bottom: 100%;
                padding-top: 0;
                padding-bottom: 10px;
    
                &:before {
                    border-bottom: none;
                    border-top: 12px solid black;
                    bottom: auto;
                    top: calc(100% - 12px);
                    // left: -6px;
                }
    
            }
    
        }

    }

}