@import "./Const.scss";

.header {

    display: flex;
    flex-direction: row;

    > * {
        margin: $globalMargin;
    }

    > *:first-child {
        margin-right: 0;
    }

    > *:nth-child(2) {
        flex-grow: 1;
    }

    > *:last-child {
        margin-left: 0;
    }

}